vendor/
node_modules/
npm-debug.log
public/storage
public/uploads
public/user_documents
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
*.iws
/out/
.idea_modules/
.idea/*
public/images/*
public/upload/*
public/products/*
public/user_documents/*
public/brochure/*
storage/debugbar/*
*.out
nohup.out
risen/
